* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}


.content-box {
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom: 0;
    padding-bottom: 30px;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
}

.content {
    width: auto;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.content-collapse {
    left: 65px;
}

.container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.crumbs {
    margin: 10px 0;
}

.el-table th {
    background-color: #f5f7fa !important;
}

.pagination {
    margin: 20px 0;
    text-align: right;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity .5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}

/*BaseForm*/

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}

/*Upload*/

.pure-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
    height: 45px;
}

.el-upload--text {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}

.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: center;
}

.el-upload--text em {
    font-style: normal;
}

/*VueEditor*/

.ql-container {
    min-height: 400px;
}

.ql-snow .ql-tooltip {
    transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
    margin-top: 20px;
}

/*markdown*/

.v-note-wrapper .v-note-panel {
    min-height: 500px;
}
// html重置样式
html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
rem,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input,
textarea,
select {
    *font-size: 100%;
}

legend {
    color: #000;
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    scrollbar-arrow-color: red;
    /*上下按钮上三角箭头的颜色*/
    scrollbar-face-color: #CBCBCB;
    /*滚动条凸出部分的颜色*/
    scrollbar-3dlight-color: blue;
    /*滚动条亮边的颜色*/
    scrollbar-highlight-color: #333;
    /*滚动条空白部分的颜色*/
    scrollbar-shadow-color: yellow;
    /*滚动条阴影的颜色*/
    scrollbar-darkshadow-color: green;
    /*滚动条强阴影的颜色*/
    scrollbar-track-color: #eee;
    /*滚动条背景颜色*/

    scrollbar-base-color: black;
    /*滚动条的基本颜色*/
    /* Cursor: url(mouse.cur); */
    /*自定义个性鼠标*/
    /*以上2项适用与：body、div、textarea、iframe*/
    font-size: 14px;
}

::-webkit-scrollbar {
    /* 滚动条整体部分 */
    background-color: #F5F7FA;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    /* 滚动条两端的按钮 */
    width: 5px;
    height: 5px;
    background-color: #fff;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
    margin-bottom: 2px
}

::-webkit-scrollbar-track {
    /* 外层轨道 */
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    /*内层轨道，滚动条中间部分 */
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    /* 滑块 */
    width: 8px;
    height: 8px;
    background-color: #e2e2e2;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    /* 边角 */
    width: 5px;
    height: 5px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb:hover {
    /* 鼠标移入滑块 */
    background: #d6d6d6;
}
